<template>
  <main>
		<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center center-flex">
				<!-- Row -->
				<div class="login-card-wrapper w-full lg:w-11/12 flex">
					<!-- Col -->
					<div
						class="w-full h-auto bg-white hidden lg:block lg:w-1/2"
					>
            <!-- <BniZona class="carousel"/> -->
          </div>
					<!-- Col -->
					<div class="w-full lg:w-1/2 bg-white p-5">
						<h3 class="text-xl text-center">Gunakan akun BNI SSO anda.</h3>
						<form class="px-8 pt-6 mb-4 bg-white rounded">
							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="username">
									NPP
								</label>
								<input
									class="form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded appearance-none focus:outline-none"
									id="username"
									type="tel"
									placeholder="NPP"
								/>
							</div>
							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="password">
									Password
								</label>
								<input
									class="form-control w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-red-500 rounded appearance-none focus:outline-none"
									id="password"
									type="password"
									placeholder="******************"
								/>
								<p class="text-xs italic text-red-500" v-if="error">{{error_msg}}</p>
							</div>
							<div class="mb-4">
								<input class="mr-2 leading-tight" type="checkbox" id="checkbox_id" />
								<label class="text-sm" for="checkbox_id">
									Remember Me
								</label>
							</div>
							<div class="mb-6 text-center">
								<button
									class="login-btn w-full px-4 py-2 font-bold text-white focus:outline-none focus:shadow-outline"
									type="button" @click="login()" :disabled="loading"
								>
									{{btn_login}}
								</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
import {doLogin} from "./login";
import "bootstrap/dist/css/bootstrap.min.css";
// import BniZona from "@bit/satryacode.dashboard.bni-zona/ProductList.vue";

export default {
  name: "Login",
  // components:{BniZona},
  data() {
    return {
      btn_login: "Sign In",
      error: false,
      error_msg: "",
      loading: false 
    };
  },
  methods: {
    async login(){
      console.log(123)
      this.btn_login = "Loading..."
      this.loading = true

      await doLogin()
        .then(response => {
          if (response.status) {
            let authUser = {
              isLogin: false,
              data: null
            };
            authUser.isLogin = true
            authUser.data = response.data
            console.log("Status log-in",authUser);
            sessionStorage.setItem('authUser', JSON.stringify(authUser));
            window.location.replace("/");
          } else {
            this.error = true;
            this.error_msg = response.data;
            console.log(response.data)
          }
        })
        .finally(() => {
          this.loading = false;
          this.btn_login = "Sign In"
        });
    }
  }
};
</script>

<style>
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

body {
  background-image: url('curve.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.carousel{
  height: 100% !important;
}

.v-carousel__item{
  height: 100% !important;
}

.center-flex {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh !important;
}

.login-card-wrapper {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; 
  height:400px;
}

.form-control{
  border: 1px solid #d5dae2;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.login-card-wrapper .login-btn {
    padding: 13px 20px 12px;
    background-color: #067;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 24px;
}

.login-btn:hover {
  background-color: #fff;
  color: #067 !important;
}

.login-btn:disabled,
.login-btn[disabled], .login-btn[disabled]:hover{
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
   pointer-events: none;
}
</style>
